# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.wrangler

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/.auth/
tests/test-plans/
tests/test-plan-*

.serena
requirements/
.playwright-mcp/

*.jwpub

*.pid.json
